@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 ;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  /* background-color: #e5e5e5; */
  background-color: #F2F2F2 ;
  width: 1280px;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-page {
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  background-color: #ffffff;
  width: 1200px;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  width: 1060px;
}
/* Навигация */
.navigation {
  display:flex;
}
.navigation-logo {
  margin:0 0 -5px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: auto auto auto 30px;
  padding: 0;
  list-style-type:none;
}
.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: auto 0 auto auto;
  list-style-type:none;
}
.navigation-link {
  padding: auto ;
}
.navigation-link-button {
  display: inline-block;
  min-width: 160px;
  min-height: 37px;
  margin: auto auto auto 20px;
  padding: 9px 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  cursor: pointer;
  border: none;
}

.main-container {
  flex-grow: 1;
}
.page-header {
  background-color: #ffffff;
}
/* Добро пожаловать  */
.welcome {
  text-align: center;
  background-color: #dae8f1;
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.welcome-logo {
  display: block;
  align-items: center;
  margin: 0 auto 63px;
  padding: 51px auto 82px;
}

/* .advantages {
  background-color: #ffffff;
} */

.town-main {
  margin: 0 auto 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.town-cause {
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}



/* Преимущества Седодоны */

.advantages-list {
  display:flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin: 0 0 91px;
  padding: 0;
  list-style-type: none;
}
.advantages-number {
  text-align: center;
}
.container-text {
  width: 230;
  margin: 92px 85px;

}
.container-item {
  width: 230px;
  margin:102px 85px;
}
.container-service {
  /* display: flex; */
  width: 230px;
  /* min-height: 384px; */
  margin: 80px 85px;
  /* flex-direction: column;
  flex-wrap: wrap; */
}
.container-advatages {
  display: flex;
}
.advantages-item-main {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #82b3d3;
  margin: 0;
  padding: 0;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.service-item {
  display: flex;
  flex-wrap: wrap;
}
.advantages-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
/* .advantages-number {
  margin: 0;
  padding: 0;
}
.advantages-description {
  margin: 0;
  padding: 0;
} */

.advantages-description-sub {
  color: #333333;
}
.advantages-title-sub {
color:#000000;
}
.advantages-housing,
.advantages-souvenirs,
.advantages-square,
.advantages-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
}
/* Заинтересовались */
.search-hotel {
  margin: 0 0 93px;
  display: flex;
  flex-direction: column;
  /* padding: 91px auto 93px; */
  /* justify-content: center; */
  text-align: center;
}

.search-hotel-title {
  margin: 0 auto 29px ;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel-description {
  margin: 0  auto 56px;
  font-size: 22px;
  line-height: 26px;
  /* font-weight: 400; */
  color: #333333;
}

.button-search-hotel {
  font-weight: 700;
  margin: 0 auto ;
  min-width: 574px;
  padding: 15px 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}
/* Подпишитесь на рассылку */

.newsletter {
  display: flex;
  flex-direction: column;
  /* padding: 94px auto; */
  text-align: center;
  color:#FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-index {
  text-align: center;
  background-color: #3d5c5e;
  background-image: url("..//images/background-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.newsletter-title {
  margin: 94px auto 29px ;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  /* color: #ffffff; */
  text-transform: uppercase;

}
.newsletter-description {
  margin: 0 auto 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  /* text-align: center; */
  /* color: #ffffff; */
}
.newsletter-form {
  margin: 0 auto 94px;
}
.newsletter-catalog {
  background-color: #ffffff;
}
.newsletter-title-catalog {
  color: #000000;
}
.newsletter-description-catalog {
  color: #333333;
}

/* Футер */
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-social-list {
  display: flex;
  list-style-type: none;
}
.footer-contact {
  max-width: 720px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
}

/* Каталог */
.inner-header {
  color: #FFFFFF;
  background-color: #826359;
  background-image: url("..//images/background-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}
/* .hotel-filter {
  background-color: #826359;
  background-image: url("..//images/background-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
} */

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  /* color: #ffffff; */
}
/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

}
.breadcrumbs-link {
  margin-right: 26px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
/* .coise-hotels{
  display: flex;
} */
/* Фильтры выбора гостиницы */
.container-choise {
  display: flex;
}
.choise-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.choise-filter-list {
  list-style-type: none;
}
.choise-filter-item {
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.sort-hotel {
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}

.button-submit {
  padding: 14px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #82b3d3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}


.catalog-sorting {
  background-color: #ffffff;
}
.card {
  display: flex;
  list-style-type: none;
  margin: 0 0 auto 0;
  padding: 0;
}
/* Карточки гостиниц */
.hotels {
  background-color: #ffffff;
}
.hotel-list {

  display: grid;
  grid-template-columns: repeat(3,340px);
  gap: 18px;
  column-gap: 18px;
  list-style-type: none;
  margin: 0 0 66px;
  padding: 0;
}
.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 255px 21px 37px 37px;
  gap: 16px 20px;
  margin: 0;
  padding: 20px;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  grid-column: 1/-1;
  margin:0;
  padding: 0;
  /* display: block; */
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-rows: 211px 28px;
  row-gap: 16px;
  grid-column: 1/-1;
}
.hotel-card-image {
  /* grid-column: 1/-1; */
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.button-more {
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #756157;
}

.button-to-favorites {
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #82b3d3;
}

.button-in-favorites {
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #7db54f;
}

.type-of-housing {
  text-align: left;
  color: #333333;
  display:block;
  margin:0;
  padding: 0;
}

.hotel-card-price {
  text-align: left;
  color: #333333;
  display: block;
  margin:0;
  padding: 0;
}
/* Пагинация */
.container-pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  list-style-type: none;
  margin:0 auto 0 0;
  padding: 0;
}
.pagination-item {
 width: 60px;
 height: 60px;
 background-color: #82B3D3;
 /* margin-right: 8px; */
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
 }
.pagination-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 20px;
  line-height:36px;
  padding:12px auto 13px auto;
}
